!!! 1.1
%html
  %head
    %title= $title ? $title : 'none'
  %body
    #content
      :textile
        h1. I'm textile code
        
        p. Realy? Are you _textile_?
        
        bq. Yes
        
        "This is Google":http://google.com